{% extends "global_layout.html" %}


{% block head %}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('webapp.views.dashboard.static', filename='css/advanced.css') }}">
<script src="{{ url_for('webapp.views.dashboard.static', filename='js/advanced.js') }}"></script>
<title>BaSe - Erweiterte Einstellungen</title>
{% endblock %}


{% block content %}

<div id="adv-columns">
    <div id="adv-diagnose" class="adv-column">
        <h4 id="heading-diagnose">Diagnose</h4>
        <b>Stromaufnahme:</b><span>torrential current!</span>
        <b>Systemspannung:</b><span>high voltage!</span>
        <b>Temperatur:</b><span>cool runnings!</span>
    </div>
    <div id="adv-control" class="adv-column">
        <h4 id="heading-control">Steuerung</h4>
        <button id="button-dock" class="control-button">Dock</button>
        <button id="button-power" class="control-button">Power</button>
        <button id="button-unpower" class="control-button">Unpower</button>
        <button id="button-mount" class="control-button">Mount</button>
        <button id="button-shutdown" class="control-button" onclick="requestShutdown()">Shutdown</button>
    </div>
    <div id="adv-update" class="adv-column">
        <h4 id="heading-update">Update</h4>
        <p>Backup-Kontrolleinheit:</p>
        <p>Das System ist aktuell.</p>
        <p>Standby-Kontrolleinheit:</p>
        <form>
            <label class="update-button" for="sbu-update-browse">Durchsuchen...</label>
            <input type="file" id="sbu-update-browse" name="sbu-update-filename">
            <label class="update-button" for="sbu-update-submit">Upload</label>
            <input type="submit" id="sbu-update-submit" class="update-button">
        </form>
    </div>
</div>

{% endblock %}