{% extends "global_layout.html" %}


{% block head %}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('advanced.static', filename='css/advanced.css') }}">
<script src="{{ url_for('advanced.static', filename='js/advanced.js') }}" type="module"></script>
<title>BaSe - Erweiterte Einstellungen</title>
{% endblock %}


{% block content %}
<script>
    BASE_ADDRESS = "ws://{{base_address}}:8453";
    console.log("received BaSe IP address: {{base_address}}");
</script>

<div id="adv-columns">
    <div id="adv-diagnose" class="adv-column">
        <h4 id="heading-diagnose">Diagnose</h4>
        <div id="diagnose-container"></div>
    </div>
    <div id="adv-control" class="adv-column">
        <h4 id="heading-control">Steuerung</h4>
        <div id="control-container">
            <button id="button-dock" class="control-button">Dock</button>
            <button id="button-undock" class="control-button">Undock</button>
            <button id="button-power" class="control-button">Power</button>
            <button id="button-unpower" class="control-button">Unpower</button>
            <button id="button-mount" class="control-button">Mount</button>
            <button id="button-unmount" class="control-button">Unmount</button>
            <button id="button-shutdown" class="control-button">Shutdown</button>
        </div>
        <div id="display-text-container">
            <p>Display-Text ändern:</p>
            <input id="display-line-1" maxlength="16">
            <input id="display-line-2" maxlength="16">
            <button id="display-text-send">Senden</button>
        </div>
    </div>
    <div id="adv-update" class="adv-column">
        <h4 id="heading-update">Update</h4>
        <div id="update-container">
            <p>Backup-Kontrolleinheit:</p>
            <p>Das System ist aktuell.</p>
            <p>Standby-Kontrolleinheit:</p>
            <form>
                <label class="update-button" for="sbu-update-browse">Durchsuchen...</label>
                <input type="file" id="sbu-update-browse" name="sbu-update-filename">
                <label class="update-button" for="sbu-update-submit">Upload</label>
                <input type="submit" id="sbu-update-submit" class="update-button">
            </form>
        </div>
    </div>
    <div id="adv-settings" class="adv-column">
        <h4 id="heading-settings">Erweiterte Einstellungen</h4>
        <div>
            Bildschirmhelligkeit: <span id="brightness-value"></span> %
        </div>
        <input type="range" min="0" max="100" id="slider-brightness">
    </div>
</div>

{% endblock %}