{% extends "global_layout.html" %}


{% block head %}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('backup_viewer.static', filename='css/backup_viewer.css') }}">
<script src="{{ url_for('backup_viewer.static', filename='js/backup_viewer.js') }}"></script>
<title>BaSe - Backup-Viewer</title>
{% endblock %}


{% block content %}
<script>
    BASE_ADDRESS = "ws://{{base_address}}:8453";
    console.log("received BaSe IP address: {{base_address}}");
</script>

<h4>Backups</h4>
<ul id="backup-index-list"></ul>

{% endblock %}