{% extends "global_layout.html" %}


{% block head %}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('webapp.views.dashboard.static', filename='css/dashboard.css') }}">
<title>BaSe - Dashboard</title>
{% endblock %}


{% block content %}

<div class="warning-banner">
    <span class="banner-message">15 ungesehene Warnungen!</span>
    <a href="/" class="banner-link">ansehen</a>
    <button class="banner-dismiss">×</button>
</div>

<div id="center">
    <div id="icons-wrapper" class="center-wrapper">
        <div><img class="dashboard-icon" src="{{ url_for('webapp.views.dashboard.static', filename='image/schedule.svg') }}"></div>
        <div><img class="dashboard-icon" src="{{ url_for('webapp.views.dashboard.static', filename='image/dock.svg') }}"></div>
        <div><img class="dashboard-icon" src="{{ url_for('webapp.views.dashboard.static', filename='image/power.svg') }}"></div>
        <div><img class="dashboard-icon" src="{{ url_for('webapp.views.dashboard.static', filename='image/mount.svg') }}"></div>
        <div><img class="dashboard-icon" src="{{ url_for('webapp.views.dashboard.static', filename='image/copy.svg') }}"></div>
    </div>
    <div id="hdd-info-wrapper" class="center-wrapper">
        <div id="hdd-space-free">
<!--            <div id="hdd-space-used"></div>-->
        </div>
    </div>
</div>

<div id="backup-now-wrapper"><button id="backup-now">Backup now!</button></div>

<div id="log-view-header">
    <span>Letzte Log-Einträge:</span>
    <a id="view-log" href="/">alle ansehen</a></div>
<textarea id="log-view" rows="5" readonly>
log entry 1
log entry 2
log entry 3
log entry 4
log entry 5
</textarea>

{% endblock %}