<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('webapp.views.dashboard.static', filename='css/global_layout.css') }}">
        <script src="{{ url_for('webapp.views.dashboard.static', filename='js/global_layout.js') }}"></script>
        <title>BaSe</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul id="nav-link-list">
                <li class="nav-item"><a id="link-dashboard" class="nav-link active-nav-link" href="/">Dashboard</a></li>
                <li class="nav-item"><a id="link-settings" class="nav-link" href="/">Backup-Einstellungen</a></li>
                <li class="nav-item"><a id="link-backups" class="nav-link" href="/">Backup-Viewer</a></li>
                <li class="nav-item"><a id="link-events" class="nav-link" href="/">Ereignisse</a></li>
                <li class="nav-item"><a id="link-advanced" class="nav-link" href="/advanced">Erweitert</a></li>
                <li class="nav-item-right">
                    <div id="not-connected">
                        Keine Verbindung zu BaSe
                    </div>
                    <div id="shutdown-timer">
                        BaSe fährt herunter in: XX:YY <button id="pause-button">||</button>
                    </div>
                </li>
            </ul>
        </nav>

        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>