#adv-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.adv-column {
    flex: 1 1 350px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5px;
}



#adv-diagnose {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#heading-diagnose {
    grid-area: heading;
    text-align: center;
}

#diagnose-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}



#adv-control {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#control-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "dock undock"
        "power unpower"
        "mount unmount"
        "shutdown shutdown";
    grid-gap: 6px;
}

#heading-control {
    grid-area: heading;
    text-align: center;
}
#button-dock {grid-area: dock;}
#button-undock {grid-area: undock;}
#button-power {grid-area: power;}
#button-unpower {grid-area: unpower;}
#button-mount {grid-area: mount;}
#button-unmount {grid-area: unmount;}
#button-shutdown {grid-area: shutdown;}

.control-button {
    height: 3em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 6px;
}
.control-button:hover {
    background-color: #111;
}
.control-button:disabled {
    background-color: #aaa;
}



#adv-update {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#update-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#heading-update {
    grid-area: heading;
    text-align: center;
}

#sbu-update-browse,
#sbu-update-submit {
    display: none;
}

.update-button {
    height: 20px;
    padding: 0px 15px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 6px;
}
.update-button:hover {
    background-color: #111;
}
