#warning-banner {
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
    display: none;
    align-items: center;
    gap: 0.5em;
    background-color: #FAA;
    border-radius: 6px;
    transition: opacity 0.3s, height 0.5s, padding 0.5s;
}

#banner-message {
    flex: auto;
}

#banner-dismiss {
    padding: 0px 0.3em;
    color: #C00;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#center {
    margin: 10px 0;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
}

.center-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* border: 1px dashed black; */
}

#icons-wrapper {
    flex: 3 1 auto;
    display: flex;
    align-items: flex-start;
}

.dashboard-icon {
    width: 5em;
    height: auto;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#hdd-info-wrapper {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}

#hdd-space-free {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 50px;
    background-color: gray;
}

#hdd-space-used {
    width: 0%;
    height: 50px;
    background-color: #3569AD;
}

#backup-hdd-usage-text {
    display: none;
}

.backup-button-wrapper {
    margin-bottom: 30px;
    display: grid;
    place-items: center;
}

.backup-button {
    width: 15em;
    height: 3em;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

.backup-button:hover {
    cursor: pointer;
    background-color: #111;
}

#backup-now {
    border: 2px solid #3569AD;
}

#backup-stop {
    border: 2px solid #AD0000;
}

#backup-status-wrapper {
    --angle: 0deg;
    padding: 10px;
    margin: 20px 0px;

    /*width: 1200px;
    height: 100px;*/

    border: 3px solid;
    border-radius: 5px;
    border-image: conic-gradient( from var(--angle), #9ab3d3, #3569AD, #9ab3d3, #9ab3d3, #3569AD, #9ab3d3, #9ab3d3, #9ab3d3 ) 1;
    animation: 4s rotate linear infinite;
}

@keyframes rotate {
    0%   {--angle: 0deg;}
    10%  {--angle: 36deg;}
    20%  {--angle: 72deg;}
    30%  {--angle: 108deg;}
    40%  {--angle: 144deg;}
    50%  {--angle: 180deg;}
    60%  {--angle: 216deg;}
    70%  {--angle: 252deg;}
    80%  {--angle: 288deg;}
    90%  {--angle: 324deg;}
    100% {--angle: 360deg;}
}

/*@keyframes rotate {
    from  {--angle: 0deg;}
    to    {--angle: 360deg;}
}*/

/*@keyframes rotate {
  to {
    --angle: 360deg;
  }
}*/

/*@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}*/

#log-view-header {
    margin: 3px 0;
}

#view-log {float: right;}

#log-view {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: "Courier New", Geneva, sans-serif;
    color: #AAA;
    background-color: black;
    border: none;
}