#warning-banner {
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
    display: none;
    align-items: center;
    gap: 0.5em;
    background-color: #FAA;
    border-radius: 6px;
    transition: opacity 0.3s, height 0.5s, padding 0.5s;
}

#banner-message {
    flex: auto;
}

#banner-dismiss {
    padding: 0px 0.3em;
    color: #C00;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#center {
    margin: 10px 0;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
}

.center-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* border: 1px dashed black; */
}

#icons-wrapper {
    flex: 3 1 auto;
    display: flex;
    align-items: flex-start;
}

.dashboard-icon {
    width: 5em;
    height: auto;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#hdd-info-wrapper {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}

#hdd-space-free {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 50px;
    background-color: blue;
}

#hdd-space-used {
    width: 0%;
    height: 50px;
    background-color: violet;
}

#backup-now-wrapper {
    margin-bottom: 30px;
    display: grid;
    place-items: center;
}

#backup-now {
    width: 15em;
    height: 3em;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

#backup-now:hover {
    cursor: pointer;
    background-color: #111;
}

#log-view-header {
    margin: 3px 0;
}

#view-log {float: right;}

#log-view {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: "Courier New", Geneva, sans-serif;
    color: #AAA;
    background-color: black;
    border: none;
}