* {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", Geneva, sans-serif;
}

a {
    color: black;
}


#nav-link-list {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
}

.nav-link {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

.nav-link:hover {
    background-color: #111;
}

.active-nav-link {
    background-color: #3569AD;
}



.nav-item-right {
    float: right;
}

#shutdown-timer {
    display: block;
    padding: 8px 16px;
    color: white;
}

#pause-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

#pause-button:hover {
    background-color: #CCC;
}



#content {
    width: 80%;
    min-width: 32ch;
    margin: 1.5rem auto 3rem auto;
}
